*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    background-image: url('/Images/back.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

header{
height: 50px;
display: flex;
justify-content: space-around;
align-items: center;
border-radius: 50px;
}

ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}

ul li a{
    padding: 0px 20px;
    text-decoration: none;
    color: #3a3a3a;
    display: inline-block;
}

li a::after{
    content: '';
    display: block;
    height: 4px;
    width: 0;
    background:#b0b0ff;
    transition:all 0.5s
}

li a:hover::after{
    width: 100%;
}

main{
    display:flex;
    
    height:calc(100vh - 100px);
    align-items: center;
    justify-content: center;
}

.hero{
    max-width: 670px;
    height: auto;
}

.content-left{
    width: 30%;
    margin: 200px 10px 10px 10px;
}

main h1{
    font-size: 54px;
    /* color: #133b4f; */
    text-transform: uppercase;
    color: rgb(32, 58, 161);
  /* text-shadow: -8px 4px 4px #00000061; */
}

main h2{
    font-size: 25px;
    color:#035398;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 8px;
    /* color: white; */
  text-shadow: -8px 4px 4px #4d4c4c;
}

main p{
    font-size:14px;
    font-weight: 400;
    color: #333;
    line-height: 31.5px;
    margin: 30px 0px;
}

/* .cta{
    padding: 15px 30px;
    background-color: #c4c4f7;
    color: #fff;
    outline: none;
    border:none;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50px;
} */

.signup-btn{
    padding: 10px 20px;
    background-color: #c4c4f7;
    color: #fff;
    outline: none;
    border:none;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50px;
}

.content-right {
    margin: 200px 10px 10px 122px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 240px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 50px;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .nav {
    position: sticky;
    top: 20px;
    font-weight: 700;
}
